html {
  box-sizing: border-box;
  scroll-behavior: smooth;

}
*, *:before, *:after {
  box-sizing: inherit;
}

#wrapper {
  background-image: url('../img/trees.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 0 auto;
  padding: 0;
  top: 0;
  left: 0;
  font-family: 'Headland One', serif;
}

#navbar {
  position: fixed;
  top: 0;
  background-color: rgba(121, 121, 121, 0.5);
  width: 100%;
  height: 10%;
  text-align: center;
  z-index: 1;
}

#navbar ul {
  position: relative;
  overflow: hidden;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0;
  margin: 0;
  top: 50%;
  transform: translate(0, -50%);
}

#navbar li {
  text-transform: uppercase;
  list-style-type: none;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 30pt;
}

li:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.48);
}

#product-image {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
}

#logo {
  text-align: center;
  position: absolute;
  top: 60px;
  left: 22%;
  transform: translate(-22%, 0);
  overflow: hidden;
}

#logo h1 {
  font-size: 50pt;
}

#about {
  background-color: rgba(121, 121, 121, 0.5);
  position: absolute;
  top: 20%;
  left: 50%;
  min-width: 800px;
  min-height: 534px;
  transform: translate(-50%, 0);
  overflow: hidden;
  display: none;
}

#contact {
  background-color: rgba(121, 121, 121, 0.5);
  position: absolute;
  top: 20%;
  left: 50%;
  min-width: 800px;
  min-height: 534px;
  transform: translate(-50%, 0);
  overflow: hidden;
  display: none;

}

#gallery img  {
  max-width: 150px;
  float: left;
  margin: 10px;
}

#gallery {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;

}

/*img {
  animation-name: cf4FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}

@keyframes cf4FadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#product-image img:nth-of-type(1) {
  animation-delay: 6s;
}
#product-image img:nth-of-type(2) {
  animation-delay: 4s;
}
#product-image img:nth-of-type(3) {
  animation-delay: 2s;
}*/
